:root {
    --button-size: 40px;
}

* {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: rgb(251, 240, 243);
    background-color: rgb(59, 50, 54);
    color: rgb(251, 240, 243);
}

.game-space {
    width: 640px;
    height: 410px;
    background-color: pink;
    margin: 10vh auto;
    display: flex;
}

.btn {
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 50%;
    border: 2px solid green;
    background-color: greenyellow;
    position: relative;
    left: 48%;
    top: 45%;
}

.header {
    display: grid;
    justify-items: center;
    margin-top: 30px;
}

.start-btn {
    margin: 20px;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    border: solid greenyellow;
}

.start-btn:active {
    border: solid pink;
}