:root {
    --button-size: 40px;
}

.game-space {
    width: 640px;
    height: 410px;
    background-color: pink;
    margin: 20vh auto;
    display: flex;
}

.btn {
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 50%;
    border: 2px solid green;
    background-color: greenyellow;
    position: relative;
    left: 600px;
    top: 370px;
}
